@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;700&display=swap');

:root {
  --primary-color     : #9A1252;
  --blue-light-color  : #A0D2EB;
  --blue-dark-color   : #092047;
  --gray-color        : #494D5F;
  --purple-light-color: #D0BDF4;
  --purple-dark-color : #8458B3;
  --black-color       : #000;
  --black-color-alpha : #000000bf;
  --white-color       : #fff;
  --border-radius     : 1rem;
  --z-back            : -10;
  --z-normal          : 1;
  --z-tooltip         : 10;
  --z-fixed           : 100;
  --z-modal           : 1000;
  
  /* Scroll styles firefox */
  scroll-behavior     : smooth;
  scrollbar-color     : var(--primary-color) var(--black-color);
  scrollbar-width     : thin;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size  : 16px;
  position   : relative;
}

.container {
  max-width: 1300px;
  margin   : 0 auto;
}

body .hidden {
  opacity: 0;
}

body .none {
  display: none;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

/* Scroll styles chrome */
body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar:vertical {
  width: .5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

.charging {
  position       : fixed;
  left           : 0;
  top            : 0;
  width          : 100%;
  height         : 100%;
  z-index        : var(--z-fixed);
  background     : url(../img/gifPng.gif) center no-repeat var(--black-color-alpha);
  display        : flex;
  justify-content: center;
  align-items    : center;
  opacity        : 1;
  transition     : all .5s ease-in-out;
}

.charj {
  width : 200px;
  height: 200px;
}

.background-one {
  width            : 100%;
  padding-bottom   : 2rem;
  background-image : url(./../img/section-one.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  object-fit       : contain;
  position         : relative;
}

/* Header */

.header__navbar {
  display: flex;
}

.header__navbar img {
  width : 60%;
  margin: 13px;
  height: 31px;
}

.header__nav-container {
  width           : 100%;
  height          : 70%;
  display         : flex;
  justify-content : center;
  align-items     : center;
  flex-direction  : column;
  position        : absolute;
  left            : 0;
  top             : 0;
  opacity         : 0;
  list-style      : none;
  background-color: var(--black-color-alpha);
  transition      : all .7s ease;
}

.header__nav-container a {
  display        : inline-block;
  text-decoration: none;
  width          : 150px;
  text-align     : center;
  background     : var(--primary-color);
  border-radius  : var(--border-radius);
  margin         : 10px 0;
  padding        : .75rem 1rem;
  transition     : all .7s ease;
}

.header__nav-container a {
  color          : var(--white-color);
  text-decoration: none;
}

.header__btn i {
  color   : var(--white-color);
  padding : 15px;
  position: absolute;
  right   : 30px;
  Top     : 20px;
}

.show__menu {
  opacity       : 1;
  pointer-events: unset;
}

/* Section Home */

.home__images {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  list-style    : none;
}

.home__images img {
  width: 62%;
}

.home__button a {
  padding         : 4px 35px;
  border-radius   : var(--border-radius);
  text-decoration : none;
  background-color: var(--primary-color);
  color           : var(--white-color);
  transition      : transform .5s ease;
}

.home__button {
  display       : flex;
  flex-direction: column;
  align-items   : center;
}

/* Section About */

.background-two {
  width            : 100%;
  height           : auto;
  background-image : url(./../img/section-two.jpg);
  background-repeat: repeat;
  background-size  : cover;
  object-fit       : contain;
  position         : relative;
}

.background-two::after {
  content   : '';
  width     : 100%;
  height    : 100%;
  position  : absolute;
  top       : 0;
  left      : 0;
  background: var(--black-color-alpha);
}

.about {
  display       : flex;
  padding-top   : 100px;
  flex-direction: column;
  align-items   : center;
  position      : relative;
  color         : var(--white-color);
}

.about>*,
.services {
  z-index: var(--z-normal);
}

.about p {
  font-size  : 13px;
  margin     : 20px;
  text-align : center;
  line-height: 1.75;
}

.about img {
  display: none;
}

/* Section Services */

.services {
  width   : 100%;
  padding : 3rem 0;
  position: relative;
}

.services__title {
  margin-bottom : 1.25rem;
  color         : var(--white-color);
  text-align    : center;
  font-size     : 1.5rem;
  font-weight   : 700;
  letter-spacing: 1px;
}

.services__container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-flow      : column wrap;
}

.services__service {
  width          : 90%;
  height         : 300px;
  margin         : 1rem 0;
  border         : 1px solid var(--primary-color);
  border-radius  : 2rem;
  text-align     : center;
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  align-items    : center;
}

.services__text,
.services__icon {
  color: var(--white-color);
}

.services__icon {
  font-size: 5rem;
}

.services__text h4 {
  text-transform: uppercase;
}

.services__text p {
  margin: 1rem 0;
}

/* Section Channel YT */

/*Redes*/

.container__redes,
.redes__items {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  margin        : 2rem 0;
}

.container__redes h2 {
  text-align: center;
  color     : var(--white-color);
  margin    : 30px 0px;
}

.container__redes a {
  text-decoration: none;
  color          : var(--white-color);
}

.redes__items i {
  flex-direction: row;
  padding-right : 10px;
}

.redes__btn {
  width        : 240px;
  height       : 65px;
  display      : inline-block;
  padding      : 1.25rem;
  border-radius: var(--border-radius);
  margin       : 10px 0px;
  transition   : transform .5s ease;
}

.buttom1 {
  background-color: #9146FF;
}

.buttom2 {
  background-color: #3B5998;
}

.buttom3 {
  background-color: #EE0000;
}

.buttom4 {
  background-color: var(--black-color);
}

.channel-yt {
  padding          : 3rem 0;
  background-image : url(../img/section-three.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  object-position  : center;
  position         : relative;
}

.channel-yt__title {
  margin-bottom: 1.25rem;
  font-size    : 2rem;
  text-align   : center;
  color        : var(--white-color);
}

.channel-yt__videos {
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
  flex-direction : column;
}

.channel-yt__video {
  width : 90%;
  height: 315px;
  margin: 1rem auto;
}

.channel-yt__video iframe {
  width     : 100%;
  height    : 100%;
  box-shadow: var(--black-color-alpha) 0 5px 15px;
}

/* Products Section */
.products {
  height           : 1000px;
  padding          : 5rem 0;
  background-image : url(../img/section-four.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  object-position  : center;
  text-align       : center;
}

.products__title {
  margin-bottom : 1.5rem;
  font-size     : 2rem;
  letter-spacing: 1px;
  color         : var(--white-color);
}

.products__container {
  width          : 90%;
  margin         : 0 auto;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.products__btn {
  display         : inline-block;
  width           : 50%;
  margin-top      : 5rem;
  padding         : 1rem 2rem;
  font-size       : 1.5rem;
  border-radius   : var(--border-radius);
  text-decoration : none;
  background-color: var(--primary-color);
  color           : var(--white-color);
  box-shadow      : var(--black-color-alpha) 0 5px 15px;
}

.products__container iframe {
  width     : 100%;
  height    : 700px;
  display   : none;
  margin-top: 3rem;
  box-shadow: var(--black-color-alpha) 0 5px 15px;
}

/*Footer*/

.footer {
  width           : 100%;
  padding         : 2rem 0;
  position        : absolute;
  bottom          : 0;
  left            : 0;
  text-align      : center;
  background-color: var(--black-color-alpha);
}

.footer a {
  display        : inline-block;
  color          : var(--white-color);
  text-decoration: none;
}

.footer__title {
  width          : 100%;
  display        : flex;
  flex-direction : column;
  justify-content: space-evenly;
  align-items    : center;
  color          : var(--white-color);
}

.footer__title h4 {
  font-size: 3rem;
}

.footer__title img {
  width: 100px;
}

.footer__policy a {
  text-decoration: none;
  margin         : 2rem;
  transition     : all .5s ease;
}

.footer__redes {
  display        : flex;
  justify-content: space-evenly;
}

.footer__redes a {
  font-size    : 2rem;
  padding      : 1rem;
  border-radius: var(--border-radius);
  transition   : transform .5s ease;
}

.footer__copy {
  width     : 100%;
  color     : var(--white-color);
  margin-top: 2.5rem;
}

/* Responsive */

@media (min-width: 768px) {

  .header__nav-container {
    display         : flex;
    flex-direction  : row;
    align-items     : initial;
    position        : relative;
    opacity         : 1;
    width           : 0;
    height          : 0;
    justify-content : flex-start;
    background-color: transparent;
  }

  .header__nav-container li {
    list-style: none;
  }

  .header__nav-container a {
    display        : inline-block;
    text-decoration: none;
    color          : var(--white-color);
    padding        : .75rem;
    background     : none;
    width          : auto;
  }

  .header__btn {
    display: none;
  }

  .home__images img {
    width      : 50%;
    margin-left: 30px;
  }

  .home__button {
    display       : flex;
    flex-direction: column;
  }

  .home__button a {
    display    : block;
    margin-left: 30px;
    width      : 40%;
  }

  .about img {
    display: none;
  }

  .about--img {
    display       : flex;
    flex-direction: row;
  }

  .services__container {
    flex-flow: row wrap;
  }

  .services__service {
    width  : 40%;
    padding: 1rem;
  }

  .channel-yt__video {
    width : 70%;
    height: 400px;
  }

  .footer__title {
    flex-direction: row;
  }

  .footer__policy a {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {

  .header__nav-container a {
    padding: .75rem 2rem;
    margin : 10px 1rem;
  }

  .header__nav-container a:hover {
    color: var(--primary-color);
  }

  .header__nav-container {
    margin-left: 98px;
  }

  .home__images {
    flex-direction: row;
  }

  .home__button img {
    width: 100%;
  }

  .home__button a {
    width     : 45vh;
    padding   : 6px 118px;
    text-align: center;
  }

  .home__button a:hover {
    transform: scale(1.1);
  }

  .about img {
    display: flex;
    width  : 20%;
  }

  .services__title {
    font-size    : 2rem;
    margin-bottom: 2rem;
  }

  .services__container {
    justify-content: space-evenly;
  }

  .services__service {
    width: 30%;
  }

  .redes__items {
    flex-direction: row;
  }

  .redes__btn {
    margin: 0 2rem;
  }

  .redes__btn:hover {
    transform: scale(1.1);
  }

  .channel-yt__videos {
    flex-direction: row;
  }

  .channel-yt__video {
    width : 40%;
    height: 315px;
  }

  .products {
    height: 1300px;
  }

  .products__btn {
    display: none;
  }

  .products__container iframe {
    display: block;
  }

  .container--footer {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    flex-wrap      : wrap;
  }

  .footer__redes a {
    font-size: 1.5rem;
    margin   : 0 1rem;
  }

  .footer__redes a:hover {
    transform: scale(1.1);
  }

  .footer__policy a:hover {
    color: var(--primary-color);
  }
}