@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-color     : #9A1252;
  --blue-light-color  : #A0D2EB;
  --blue-dark-color   : #092047;
  --gray-color        : #494D5F;
  --purple-light-color: #D0BDF4;
  --purple-dark-color : #8458B3;
  --black-color       : #000;
  --black-color-alpha : #000000bf;
  --white-color       : #fff;
  --z-back            : -10;
  --z-normal          : 1;
  --z-tooltip         : 10;
  --z-fixed           : 100;
  --z-modal           : 1000;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size  : 16px;
}

body .hidden {
  opacity: 0;
}

body .none {
  display: none;
}

.charging {
  position       : fixed;
  left           : 0;
  top            : 0;
  width          : 100%;
  height         : 100%;
  z-index        : var(--z-fixed);
  background     : url(../img/gifPng.gif) center no-repeat var(--black-color-alpha);
  display        : flex;
  justify-content: center;
  align-items    : center;
  opacity        : 1;
  transition     : all .5s ease-in-out;
}

.charj {
  width : 200px;
  height: 200px;
}

.container {
  max-width: 1300px;
  margin   : 0 auto;
}

.background-one {
  width            : 100%;
  height           : 70vh;
  background-image : url(./../img/section-one.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  object-fit       : contain;
  position         : relative;
}

/* Header */

.header__content {
  display: flex;
}

.header__navbar img {
  width : 10%;
  margin: 10px;
}

.header__nav-container {
  display: none;
}

.header__btn {
  color  : var(--white-color);
  padding: 15px;
}

/* Section Home */

.home__images {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  list-style    : none;
}

.home__images img {
  width: 50%;
}

.home__button a {
  padding         : 4px 35px;
  border-radius   : 15px;
  text-decoration : none;
  background-color: var(--primary-color);
  color           : var(--white-color);
}

/* Section About */

.background-two {
  width            : 100%;
  height           : auto;
  background-image : url(./../img/section-two.jpg);
  background-repeat: repeat;
  background-size  : cover;
  object-fit       : contain;
  position         : relative;
}

.background-two::after {
  content   : '';
  width     : 100%;
  height    : 100%;
  position  : absolute;
  top       : 0;
  left      : 0;
  background: var(--black-color-alpha);
}

.about {
  display       : flex;
  padding-top   : 100px;
  flex-direction: column;
  align-items   : center;
  position      : relative;
  color         : var(--white-color);
}

.about>*,
.services {
  z-index: var(--z-normal);
}

.about p {
  font-size  : 13px;
  margin     : 20px;
  text-align : center;
  line-height: 1.75;
}

/* Section Services */

.services {
  width   : 100%;
  padding : 3rem 0;
  position: relative;
}

.services__title {
  margin-bottom : 1.25rem;
  color         : var(--white-color);
  text-align    : center;
  font-size     : 1.5rem;
  font-weight   : 700;
  letter-spacing: 1px;
}

.services__container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-flow      : column wrap;
}

.services__service {
  width          : 90%;
  height         : 300px;
  margin         : 1rem 0;
  border         : 1px solid var(--primary-color);
  border-radius  : 2rem;
  text-align     : center;
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  align-items    : center;
}

.services__text,
.services__icon {
  color: var(--white-color);
}

.services__icon {
  font-size: 5rem;
}

.services__text h4 {
  text-transform: uppercase;
}

.services__text p {
  margin: 1rem 0;
}

.services__price {
  font-weight: 700;
}

/* Section Channel YT */

.channel-yt {
  padding          : 3rem 0;
  background-image : url(../img/section-three.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  object-position  : center;
  position         : relative;
}

.channel-yt__title {
  margin-bottom: 1.25rem;
  font-size    : 2rem;
  text-align   : center;
  color        : var(--white-color);
}

.channel-yt__videos {
  display            : grid;
  grid-template-areas: 'video1'
    'video2'
    'video3';
  justify-items: center;
  gap          : 1.5rem;
}

.channel-yt__video:nth-child(1) {
  grid-area: video1;
}

.channel-yt__video:nth-child(2) {
  grid-area: video2;
}

.channel-yt__video:nth-child(3) {
  grid-area: video3;
}

.channel-yt__video {
  width : 90%;
  height: 315px;
  margin: 0 auto;
}

.channel-yt__video iframe {
  width     : 100%;
  height    : 100%;
  box-shadow: var(--black-color-alpha) 0 5px 15px;
}

/* Products Section */
.products {
  height           : 700px;
  padding          : 5rem 0;
  background-image : url(../img/section-four.jpg);
  background-repeat: no-repeat;
  background-size  : cover;
  object-position  : center;
  text-align       : center;
}

.products__title {
  margin-bottom : 1.5rem;
  font-size     : 2rem;
  letter-spacing: 1px;
  color         : var(--white-color);
}

.products__container {
  width          : 90%;
  margin         : 0 auto;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.products__btn {
  display         : inline-block;
  width           : 50%;
  margin-top      : 5rem;
  padding         : 1rem 2rem;
  font-size       : 1.5rem;
  border-radius   : 1rem;
  text-decoration : none;
  background-color: var(--primary-color);
  color           : var(--white-color);
  box-shadow      : var(--black-color-alpha) 0 5px 15px;
}

.products__container iframe {
  width     : 100%;
  height    : 700px;
  display   : none;
  margin-top: 3rem;
  box-shadow: var(--black-color-alpha) 0 5px 15px;
}



/* Responsive */

@media (min-width: 768px) {
  .services__container {
    flex-flow: row wrap;
  }

  .services__service {
    width  : 40%;
    padding: 1rem;
  }

  .channel-yt__video {
    width : 70%;
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .services__title {
    font-size    : 2rem;
    margin-bottom: 2rem;
  }

  .services__container {
    justify-content: space-evenly;
  }

  .services__service {
    width: 30%;
  }

  .channel-yt__videos {
    grid-template-columns: repeat(3, minmax(300px, auto));
    grid-template-rows   : repeat(2, 1fr);
    gap                  : 0;
  }

  .channel-yt__video:nth-child(1) {
    grid-column: 1 / 2;
  }

  .channel-yt__video:nth-child(2) {
    grid-column: 2 / 3;
  }

  .channel-yt__video:nth-child(3) {
    grid-column: 3 / 4;
    grid-row   : 1 / 2;
  }

  .channel-yt__video {
    width : 100%;
    height: 315px;
  }

  .products {
    height: 1200px;
  }

  .products__btn {
    display: none;
  }

  .products__container iframe {
    display: block;
  }
}