*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container__menu{

	width: 2500px;
	background-color: #18e

}
.container__menu ul {
    padding: 10px;
	list-style: none;
}

.menu {
	margin-left: 800px;

}
.menu > li {
     display: inline-block;

}
.menu > li > a {
    color: #fff;
	display: block;
	padding: 10px 20px;
	margin-left:  1px;
	text-decoration: none;
}

.menu li a:hover {
	color: #E8E4E3;
}

img{
 	width: 100px ;
 	position: absolute;
 	padding-top: -9px;
 	height: 69px;
}



